<ion-header>
  <ion-toolbar>
    <ion-title>tab5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-header>
    <ion-card-title>Pengalaman</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Pertama kali mengetahui cara kerja GIT
  </ion-card-content>

  <ion-card-header>
    <ion-card-title>Kritik / Saran</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Beberapa fungsi jujur saja masih belom mengerti dan secara keseluruhan angular saya masih belom familiar sampai sekarang. Mungkin bisa dibuat seperti model pdfnya juga selain video karena saya juga agak lama belajarnya ce.
  </ion-card-content>
</ion-content>
